<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
<meta charset="UTF-8">
<title>RE:TEEV 구성원</title>
</head>
<body>
	<div class="container-fluid mb-5">
		<div th:replace="/fragments/logoMain.html :: fragment-logoMain"></div>
		<div th:replace="/fragments/nav.html :: fragment-nav"></div>
		<div class="row mx-5">
			<h1>리티브 멤버를 소개합니다.</h1>		
		</div>
	</div>	
	<div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
</html>