<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
	<title>리티브</title>
</head>
<body>
	<div class="container-fluid">		
		<div th:replace="/fragments/logoMain.html :: fragment-logoMain"></div>
		<div th:replace="/fragments/nav.html :: fragment-nav"></div>
		<div th:replace="/views/main/main1.html :: fragment-main1"></div>
		<div th:replace="/views/main/main2.html :: fragment-main2"></div>
	</div>
	<div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
</html>