<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>멤버 프로필</title>
</head>
<body>
	<div class="row m-5" th:fragment = "fragment-member">
		<div id="carouselExampleIndicators" class="carousel slide">
		  <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  </div>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
				<div class="card" style="width: 18rem;">
				  <img src="/image/김동현프로필.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">김동현(DONG HYEON KIM)</h5>
				    <p class="card-text">프론트엔드개발자이며 풀스텍 개발을 목표로 JAVA와 SQL도 잘할 수 있습니다.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><span>나이 : </span> 32살 (1992.09.16)</li>
				    <li class="list-group-item">
				    	<h3 align=center>경력</h3>
				    	<hr/>
				    	<p>신한라이프 AI 플랫폼 [SI] - 6개월</p>
						<p>국민은행 빅데이터카페 유지보수[SM] - 5개월</p>
				    </li>
				  </ul>
				  <div class="card-body">
				    <a href="https://github.com/AKAZIPPER/Reteev01" class="card-link">깃허브 들어가기</a>
				  </div>
				</div>
		    </div>
		    <div class="carousel-item">
				<div class="card" style="width: 18rem;">
				  <img src="..." class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">An item</li>
				    <li class="list-group-item">A second item</li>
				    <li class="list-group-item">A third item</li>
				  </ul>
				  <div class="card-body">
				    <a href="#" class="card-link">Card link</a>
				    <a href="#" class="card-link">Another link</a>
				  </div>
				</div>
		    </div>
		    <div class="carousel-item">
				<div class="card" style="width: 18rem;">
				  <img src="..." class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">An item</li>
				    <li class="list-group-item">A second item</li>
				    <li class="list-group-item">A third item</li>
				  </ul>
				  <div class="card-body">
				    <a href="#" class="card-link">Card link</a>
				    <a href="#" class="card-link">Another link</a>
				  </div>
				</div>
		    </div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
	</div>
</body>
</html>